 
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 20px 10%;
}
.logo{
    
    width: 20%;
    height: 10vh;
    background-color: white;
    display: inline-block;
    margin-right: 2px;
}
.mina{
    font-size: 60px;
    font-weight: bolder;
    font-style: normal;
    font-family: calibri;
    text-align: center;
}

.links{
    float: right;
    width: 50%;
    height: 10vh;
    background-color: white;
    display: inline-block;
}
.cart{
    font-size: 50px;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

nav{
    width: 100%;
    height: 60px;
    background-color: gray; 
    padding: 9px;
}
.discount{
    width: 40%;
    height: 40px;
    background-color: blueviolet;
    margin-left: 30%;
}
.promo{
    font-size: 20px;
    font-weight: bold;
    font-family: calibri;
    text-align: center;
    text-emphasis-color: white;
    padding-top: 5px;
    text-decoration-color: white;
}
section{
    width: 100%;
    min-height: 100vh;
    background-color: lightgray;
}
.main{
    width: 100%;
    height: 70vh;
    background-color: bisque;
    padding-top: 15% ;
    background-image: url(mainframe.jpg);
    background-position: center;
    background-size: cover;
}

.shop{
    width: 80%;
    height: 40vh;
    background-color: blue;
    margin-left: 10%;
}
.ceramic{
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.clay{
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.features{
    width: 100%;
    height: 170vh;
    background-color: cadetblue;
    padding: 40px 2%;
    display: inline-block;
}
.best{
    width: 50%;
    height: 10vh;
    background-color: coral;
    margin-left: 30%;
}
.selling{
    font-size: 50px;
    font-weight: bolder;
    font-family: calibri;
    text-align: center;
}
.candy{
    width: 99%;
    height: 140vh;
    background-color: azure;
    margin-left: 10px;
    margin-top: 65px;
}
.flower{
    width: 30%;
    height: 50vh;
    background-color: black;
    display: inline-block;
    margin-left: 25px;
    background-image: url(candyflowerpot.jpg);
    background-position: center;
    background-size: cover;
}
.drop{
    width: 30%;
    height: 50vh;
    background-color: black;
    display: inline-block;
    margin-left: 25px;
    background-image: url(dropvase.jpg);
    background-position: center;
    background-size: cover;
}
.wave{
    width: 30%;
    height: 50vh;
    background-color: black;
    display: inline-block;
    margin-left: 25px;
    background-image: url(wavevast.jpg);
    background-position: center;
    background-size: cover;
}
.sun{
    width: 30%;
    height: 50vh;
    background-color: black;
    display: inline-block;
    margin-left: 25px;
    margin-top: 130px;
    background-image: url(sunvase.jpg);
    background-position: center;
    background-size: cover;
}

.explore{
    width: 100%;
    height: 90vh;
    background-color: coral;
    margin-left: 2px;
    padding-top: 15%;
    background-image: url(homedecor.jpg);
    background-position: center;
    background-size: cover;
}
.decor{
    width: 80%;
    height: 40vh;
    background-color: blue;
    margin-left: 10%;
}
.info{
    width: 100%;
    height: 90vh;
    background-color: aquamarine;
    display: inline-block;
    
}
.about{
    width: 49%;
    height: 70vh;
    background-color: cadetblue;
    display: inline-block;
    background-image: url(about.jpg);
    background-position: center;
    background-size: cover;
}
.aboumin{
    width: 49%;
    height: 30vh;
    background-color: blueviolet;
    display: inline-block;
}
.sustainability{
    width: 49%;
    height: 70vh;
    background-color: cadetblue;
    float: right;
    background-image: url(sustainability.jpg);
    background-position: center;
    background-size: cover;
}
.sustai{
    width: 49%;
    height: 30vh;
    background-color: blueviolet;
    display: inline-block;
    float: right;
}
.signUp{
    width: 100%;
    height: 90vh;
    background-color: darkgray;
    padding-top: 15%;
}
.email{
    width: 80%;
    height: 50vh;
    background-color: blue;
    margin-left: 10%;
}
.socials{
    width: 100%;
    height: 90vh;
    background-color: bisque;
    padding-top: 5%;
}
.instagram{
    width: 100%;
    height: 80vh;
    background-color: aliceblue;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: aqua;
}